/*--------------------------- ESTILOS GENERALES -----------------------------*/

* {
  font-family: "Montserrat", sans-serif;
  margin: auto 0px;
}

html {
}
body {
  background-color: rgb(24, 28, 48);
  color: #e6ddc4;
}
p {
  color: #e6ddc4;
}
.title {
  text-align: center;
}

/*--------------- ANIMACION LOGO -----------------*/

rect#mon1, rect#mon3, rect#mon4, rect#tec1 {
  animation: part_1 ease-in 5s  ;
  animation-iteration-count:1 ;
  }
  
rect#mon2,rect#tec2 {
animation: part_2 ease-in 5s  ;
animation-iteration-count:1 ;
}
@keyframes part_1{
  0% {
  transform: translate(0,-10px);
  opacity:0;}
  20% {
  transform: translate(0,-10px);
  opacity:0;}
  30% {
  transform: translate(0,0);
  opacity:1;}
  90% {
  transform: translate(0,0);
  opacity:1;}
  
  100% {
      transform: translate(0,0);
      opacity:1;}
}   
  

@keyframes part_2 {
  0% {
      transform: translate(0,-10px);
      opacity:0;}
      30% {
      transform: translate(0,-10px);
      opacity:0;}
      40% {
      transform: translate(0,0);
      opacity:1;}
      90% {
      transform: translate(0,0);
      opacity:1;}

      100% {
          transform:translate(0,0);
          opacity:1;}
      }  

/*--------------- NAV -----------------*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 40px;
  min-width: 600px;
}
.navMenu {
  display: flex;
  width: 300px;
  justify-content: space-around;
}
main {
  padding: 100px 20px;
}
.item-navMenu {
  list-style-type: none;
}
.item-link,
.btn {
  box-shadow: 2px 3px rgb(103, 137, 131);
  border-radius: 10px;
  padding: 10px;
  text-decoration: none;
  background-color: rgb(230, 221, 196);
  color: #181d31;
  font-weight: 300;
}
.item-navMenu:active {
  transform: translate(3px, 2px);
}
.item-navMenu:active > .item-link {
  box-shadow: 0px 0px;
}

.flexItem {
  display: block;
}

header {
  background: url(./assets/imagenes/codigo.jpg) 50% 0 fixed;
  background-size: cover;
  min-height: 500px;
  color: #eeeeee;
  font-size: 28px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0px 100px;
}
h1 {
  text-shadow: 2px 2px grey, 6px 6px black;
}
h2 {
  text-shadow: 2px 2px black;
  font-size: 40px;
  text-align: center;
  color: rgb(103, 137, 131);
}

/*--------------- FOOTER -----------------*/

.logo {
  height: 80px;
}
footer {
  background-color:rgb(103, 137, 131);
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  color: #181d31;
}

.footer-left {
  display: flex;
  justify-content: space-between;
  width: 300px;
  height: 60px;
}

.titulo-foot {
  font-size: 14px;
}
